/* Social icons block spacing */
.social-icons {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.page-header {
  margin-top: 0;
  padding-top: 0.5rem;
}

main.main>article.first-entry.home-info {
  margin-top: 0 !important;
  padding-top: 0rem !important;
  margin-bottom: 0rem !important;
  padding-bottom: 0.5rem !important;
}

.post-content {
  line-height: 2;
}

.entry-content {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

.entry-header h2 {
  line-height: 1.4;
}

.first-entry .entry-header h1 {
  line-height: 1.4;
}
